.container-yudi{
    background-color: whte;
    position: relative;
    max-width: 480px;
    width: 100%;
    margin: 0px auto;
    /* padding: 0px 16px 80px; */
    box-sizing: border-box;
    min-height: calc(-60px + 105vh);
    bottom: 0;
    /* box-shadow: 2px 3px 5px black; */
}
.menu-footer{
    bottom: 8px;
    position: absolute;
    width: 95%;
    background-color:white;
    border-radius: 8px;
    height: 37px;
    opacity: 0.5;
}
.icon-home{
    margin: 3px;
    color: #480048;
}
.navbar-custome {
    overflow: hidden;
    background-color:white;
    position: fixed;
    bottom: 0;
    width: 480px;
    z-index: 1000;
    border-top: solid black;
  }
  .text{
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 5px;
      margin-bottom: 5px;
  }